   /* CSS for index.html */
   
   *{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
    }

    *,
    *:before,
    *:after {
    box-sizing: inherit;
    }

    html{
        box-sizing: border-box;
        height: 100%;
    }

    label{
        cursor: pointer;
    }

    input[type="checkbox"]:checked + p {
        text-decoration: line-through;
        color: #999;
    }

    header{
        background: rgba(19 64 68 / 20%);	
        padding: 29px 0px;
        text-align: center;
        color: white;
    }

    header img{
     max-width: 50px;
     margin-right: 20px;
    }


    header img, header h1 {
        display: inline-block;
        vertical-align: middle;
        font-weight: 900;
        font-size: 50px;
    }

    header h2 {
        padding-left: 35px;
        color: white;
        font-weight: 100;
        font-size: 23px;
        margin-top: -19px;
        opacity: 0.7;
    }

    body {
        background-image: background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        background-attachment:fixed;
        position:relative;
        padding-bottom:173px;
        min-height:100%;
    }

    .wrapper {
        max-width: 405px;
        margin: 135px auto;
        background: #fff;
        border-radius: 7px;
        padding: 28px 0;
    }

    .task-input {
        height: 52px;
        padding: 0 25px;
        position: relative;
    }
    
    .wrapper .uil-align-left {
        position: absolute;
    }

    .input-task-input{
        padding-left: 40px;
    }

    .uil-align-left{
        top: -3px;
        position: absolute;
        padding-top: 15px;
        padding-left: 15px;
        font-size: 20px;
        color: #bfbfbf;

    }

    .task-input img {
        position: absolute;
        top: 50%;
        transform: translate(17px, -50%);

    }

    .task-input input{
        height: 100%;
        width: 100%;
        outline: none;
        font-size: 18px;
        border-radius: 5px;
        border: 1px solid #999;
        padding: 0 20px 0 53px;
    }

    .task-input input::placeholder{
        color: #bfbfbf;
    
    }
    .controls, li {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .controls{
        padding: 18px 25px;
        border-bottom: 1px solid #ccc;
    }

    .filters span{
        cursor: pointer;
        margin: 0 8px;
        font-size: 17px;
        position: relative;
    }
    
    .filters .active:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #3c87ff;
        bottom: -23px;
    }

    .filters span:first-child{
        margin-left: 0;

    }

    .filters span:hover, .filters .active{
        color: #3c87ff;
        transition: 0.2s;
    } 

    .clear-btn{
        outline: none;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 13px;
        border-radius: 4px;
        padding: 7px 13px;
        background: #5ab9f0;
    }

    .task-box, .clear-btn {
        margin: 20px 25px;
    }

    .task-box .task {
        list-style: none;   
        font-size: 17px;
        margin-bottom: 18px;
        padding-bottom: 16px;
        border-bottom: 1px solid #ccc;
    }

    .task-box .task:last-child{
        margin-bottom: 0;
        border-bottom: 0;
        padding-bottom: 0;
    }

    .task label{
        display: flex;
    }

    .task label input{
        margin-right: 12px;

    }

    .task .settings{
        cursor: pointer;
        position: relative;
    }
    
    .settings .task-menu {
        position: absolute;
        padding: 5px 0;
        right: -5px;
        bottom: -65px;
        z-index: 2;
        transform: scale(0);
        border-radius: 4px;
        background: #fff;
        transform-origin: top right;
        transition: transform 0.2s ease;
        box-shadow: 0 0 6px rgba(0,0,0,0.15);
    }

    .settings:hover .task-menu {
    transform: scale(1);
    }

    .task-menu li{
        height: 25px;
        font-size: 16px;
        padding: 17px 15px;
        margin-bottom: 2px;
        justify-content: flex-start;
    }

    .task-menu li:last-child{
        margin-bottom: 0;
  
    }
    .task-menu li:hover {
        background: #f5f5f5;
    }

    .task-menu li i{
    padding-right: 8px;
    }

    footer {	
        padding-bottom: 40px;
        padding-top: 40px;
        background: rgba(19 64 68 / 20%);
        display: block;
        text-align: center;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
    
    }
    
    .footer-content{
        display:block;
        vertical-align: top;
        color: white;
    
    }
    
    .footer-content .title {
        font-size: 20px;
        line-height: 25px;
        color: white;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    
/* CSS for login.html */


    #submit-btn {
        outline: none;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 15px;
        border-radius: 4px;
        padding: 10px 20px;
        background: #5ab9f0;
    }

    .email-container input, .password-container input{
        height: 100%;
        outline: none;
        font-size: 18px;
        border-radius: 5px;
        border: 1px solid #999;
        padding: 0 20px 0 10px;
        margin: 15px;
        margin-right: 10px;
    }

    .login-button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }


    .login{
        text-align: center;
        color: #5ab9f0;
    }

    .email-container, .password-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    i{
        color: #999;
        font-size: 20px;
    }

    .password-container input::placeholder, .email-container input::placeholder{
        color: #bfbfbf;
    }
    

    /* The message box is shown when the user clicks on the password field */
    #message {
        display: none;
        background: white;
        color: #000;
        position: relative;
        padding: 20px;
        margin-top: -5px;
        font-size: 14px;
        margin-left: 50px;
    }
  
    #message p {
        padding: 10px 25px;
        font-size: 18px;
        line-height: 11px;
        font-size: 14px;
        position: relative;
    }

    #message p:before{
        left: 0px;
        width: 16px;
        height: 16px;
        content: '';
        position: absolute;
        top: 7px;
    }

    #message h3 {
        color: #bfbfbf;
        font-weight: 200;
        padding-bottom: 10px;
    }
  
  /* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color:#4F9F31;
    }
  
    .valid:before {
        background: url(src/img/valid.svg) no-repeat;
    }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
    .invalid {
        color: #9B9B9B;
    }
  
    .invalid:before {
        background: url(src/img/invalid.svg) no-repeat;
    }

    #submit-btn:disabled{
        background: #c5dce7;